<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="API Test Suite">
    <test name="User Authentication Tests">
        <classes>
            <class name="com.example.test.TestUserLogin"/>
            <class name="com.example.test.TestUserRegistration"/>
            <class name="com.example.test.TestUserAuthFlow"/>
            <class name="com.example.test.TestAuthorizedRequests"/>
        </classes>
    </test>
</suite>