<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="API Test Suite">
    <test name="User Authentication Tests">
        <classes>
            <class name="test.com.example.ui.TestUserLogin"/>
            <class name="test.com.example.ui.TestUserRegistration"/>
            <class name="test.com.example.ui.TestUserAuthFlow"/>
            <class name="test.com.example.ui.TestAuthorizedRequests"/>
        </classes>
    </test>
</suite>